<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe zadanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<form method="post" th:action="@{/add}" th:object="${task}">
    Tytuł: <input type="text" th:field="*{title}"><br/>
    Data premiery: <input type="date" th:field="*{premiereDate}"><br/>
    Opis: <textarea placeholder="Opis" th:field="*{description}"></textarea><br/>
    Gatunek filmu: <select th:field="*{category}">
    <option th:each="category: ${T(com.example.demo.excercises.model.Category).values()}"
            th:text="${category}" th:value="${category}"></option>
</select>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>